{% extends 'base.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block stylesheets %}
    <style>
        .about__hero {
            height: 350px;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
                    url({% static 'about/images/about_hero.jpg' %}) no-repeat center/cover;"
        }


    </style>
{% endblock  %}

{% block content %}

    {% include 'navbars/default_navbar.html' %}


    <section class="py-5 about__hero justify-content-center align-content-center">
        <div class="container mx-auto">
            <h1 class="text-center text-white">About Us</h1>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h2>
                        It’s in our best interest–and the best interest of our suppliers, partners and customers–to ensure the organic system is held to the highest of standards.
                    </h2>

                    <div class="border border-1 w-50"></div>

                    <h4>That’s why our certified organic products are audited and assured from farm to market.</h4>

                    <p>
                        Product quality and integrity measures include careful supplier selection, site visits, internal controls and product testing. We believe in the integrity of the organic system and we perform numerous checks and balances along the way to ensure you’re getting a product that meets expectations.
                    </p>
                </div>

                <div class="col-lg-6 col-12 justify-content-end">
                    <img src="{% static 'about/images/supply_chain.jpg' %}" alt="Supply Chain" width="100%" class="ms-auto">
                </div>
            </div>
        </div>
    </section>


    <section class="py-5">
        <div class="container mx-auto">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <img width="400px" src="{% static 'about/images/fruite.jpg' %}" alt="Oranic Fruite">
                </div>
                <div class="col-lg-6 col-12">
                    <h2>Globe & Mail Feature</h2>

                    <p>
                        We are actively enhancing trust and compliance in the organic supply chain by focusing on our quality system at every step.
                    </p>

                    <a href="{% url 'contact:contact_view' %}" class="btn btn-success btn-md">Contact us</a>
                </div>
            </div>
        </div>
    </section>


    <section class="py-5">
        <div class="container">
            <h2 class="text-center">Frequently Asked Questions</h2>

            <div class="border border-1 w-25 mb-5 mx-auto"></div>

            <div class="accordion accordion-flush shadow rounded-1" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Accordion Item #3
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                  </div>
                </div>
              </div>




        </div>

    </section>
{% endblock  %}