{% extends 'base.html' %}


{% block title %}
    About
{% endblock %}

{% block stylesheets %}
    <style></style>
{% endblock  %}

{% block content %}

    {% include 'navbars/default_navbar.html' %}


    <section class="py-5">
        <div class="container mx-auto">
            <h1>About Us</h1>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, quibusdam vitae alias debitis nam deleniti aliquam perspiciatis. Laborum blanditiis voluptatem omnis atque doloremque. Cupiditate soluta minima facilis quasi quas pariatur?</p>
        </div>
    </section>
{% endblock  %}